always-auth=true
registry=http://devops-gns.eastus2.cloudapp.azure.com:8081/artifactory/api/npm/genesis-npm-dev/
_auth = c3RhcmsudGVhbTpBUDNqRVdlNEtrSEJMa2U0cHlWeTJVSmozcTg=
email = youremail@email.com
