<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
        https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>genesis-mvn-prd</id>
            <username>stark.team</username>
            <password>AP3jEWe4KkHBLke4pyVy2UJj3q8</password>
        </server>
        <server>
            <id>genesis-mvn-dev</id>
            <username>stark.team</username>
            <password>AP3jEWe4KkHBLke4pyVy2UJj3q8</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>genesis-mvn-prd</id>
                    <name>genesis-mvn-prd</name>
                    <url>http://devops-gns.eastus2.cloudapp.azure.com:8081/artifactory/genesis-mvn-prd</url>
                </repository>
                <repository>
                    <snapshots />
                    <id>genesis-mvn-dev</id>
                    <name>genesis-mvn-dev</name>
                    <url>http://devops-gns.eastus2.cloudapp.azure.com:8081/artifactory/genesis-mvn-dev</url>
                </repository>
            </repositories>
            <id>innovacionpacifico</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>innovacionpacifico</activeProfile>
    </activeProfiles>
</settings>
